.field{
	height: 100%;
	position: relative;
}
.bgcolor{
	position: relative;
	background-color: rgba(28, 28,28,0.9);
	height: 100%;	
}
.first{
	padding-top: 30px;
}
.button{
	position: absolute;
    top: 60%;
    border:1px solid;
}

.card{
	background-color: black;
	border: none;
	align-items: center;
}

.card:hover img{
	opacity: 0.5;
}
.second{
	padding-bottom: 20px;
}
	@media(min-width:768px){
		body{ height: 100vh;
	}
}
.photo{
	padding-bottom: 30px;
}